# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Training / Dataset files
# =========================
training/
HAM10000_images_part_1/
HAM10000_images_part_2/
HAM10000_metadata.csv

# =========================
# Logs
# =========================
*.log

# =========================
# Streamlit secrets
# =========================
.streamlit/secrets.toml

# =========================
# Model training outputs
# =========================
*.ckpt
*.h5
*.pkl

# =========================
# Temporary files
# =========================
*.tmp
*.temp